main {
  .aside.right {
    flex: 2;
    margin-left: 3.5rem;
    form {
      position: relative;
      margin-bottom: 1.5rem;
      border: 1px solid #dadada;
      border-radius: 7px;
      padding: 18px 17px 18px 17px;
      input {
        width: 100%;
        // max-width: 120px;

        font-size: 14px;
        line-height: 1.2;
        color: #70747d;
      }
    }
    .projects {
      border: 1px solid #dadada;
      border-radius: 7px;
      padding: 1.5rem;
      h4 {
        color: black;
      }
      div:not(.line) {
        margin-top: 10px;
      }
    }
  }
}
