footer {
  background-image: linear-gradient(
    to bottom,
    #fff 0%,
    #fff 40%,
    #f6ca45 40%,
    #f6ca45 100%
  );
  padding-bottom: 2rem;
  margin-top: 5rem;
  .subscription {
    background: black;
    max-width: 820px;
    padding: 3.5rem 0 0 3.5rem;
    border-radius: 7px;
    display: flex;
    margin: 0 auto;
    .content {
      h4 {
        color: white;
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }
      p {
        line-height: 1.5;
        color: #adadad;
        margin-bottom: 16px;
      }
      input {
        padding: 1rem;
        width: 90%;
        border-radius: 5px;
      }
    }
  }
  .footer__info {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    .logo {
      font-weight: 700;
    }
    a:not(a:last-child) {
      margin-right: 1.5rem;
    }
  }
}
